<section class="adventurers-main">
    <h1>WE ARE THE <em style="color:#12F0F0">ADVENTURERS</em></h1>

    <section class="adventurers-inner">
        <section
          adventurer-card
          class="adventure-card"
          img="../img/Grizzly-Adams.jpg"
          title="Grizzly Adams"
          summary="Shabby chic 90's drinking vinegar irony kombucha meh. Fashion axe 8-bit everyday carry, locavore shabby chic small batch tote bag salvia ugh semiotics keffiyeh intelligentsia.">

        </section>
        <section
          adventurer-card
          class="adventure-card"
          img="../img/Rally-Sisters.jpg"
          title="Rally Sisters"
          summary="Shabby chic 90's drinking vinegar irony kombucha meh. Fashion axe 8-bit everyday carry, locavore shabby chic small batch tote bag salvia ugh semiotics keffiyeh intelligentsia.">

        </section>
    </section>
    <!--You will need to add a ui-sref here that points the packages state-->
    <a ui-sref="packages">
    <button>View Packages</button>
    </a>

</section>
