<!-- Use the ng-style directive to change the background to the image link on the data object we are getting from the controller
      you will need to write a function that checks the url params and then loops over the data object in the service and then returns
      the object the matches the id being passed in the url params. Do this in your controller -->
<section class="booked-main-container" >

    <h1>Thanks for trusting us with your trip to <br>   <!-- Data bind the city name here --> </h1>

    <!--The ui-sref should be pointing to the packages state -->
    <a ui-sref="packages">
      <button> VIEW MORE PACKAGES </button>
    </a>
</section>
