<section class="locations-container">
    <!-- This is where we need to repeat over our data that we are getting from our controller. The controller is getting the data from the service
     If you haven't made teh controller do that now and include it on your state object in app.js-->
    <section class="location-card" ng-repeat="loc in vm.locations" >
        <div class="image-container">
            <!-- Once we have the data we can use {{}} to bind that data to our view -->
            <!--Add the image link from the data here. Remember to put something in the alt tag, perhaps the name of the city-->
            <img src="{{loc.image}}" alt="{{loc.city}}">
        </div>
        <div class="location-inner-left">
            <!-- Now we can start to extract the data and bind it to our different elements here-->
            <h6> {{loc.city}}</h6>
            <h1>{{loc.country}}</h1>
            <p>{{loc.desc}}</p>
        </div>
        <div class="location-inner-right">
            <h3>Package Start At ${{loc.price}}</h3>
            <!--You will need to make the ui-sref work. It should point to the booked state. If you look at your app.js the booked state
            is expecting an id to be passed along You can get that id from the data object that we are repeating over -->
            <a ui-sref="booked({id: loc.id})">
              <button>Book Now</button>
            </a>
        </div>
    </section>
</section>
